{% extends "base.html" %}
{% block header %}
    <script src="https://unpkg.com/axios@0.16.2/dist/axios.min.js"></script>
{% endblock %}
{% block nav %}
    {% include "nav_for_login.html" %}
{% endblock %}
{% block content %}
    <div class="columns" id="app">
        <div class="content">
            <h1>{{ short_url.title }}</h1>
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ short_url.image }}" alt="Image"></a>
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="{{ short_url.long_url }}">{{ short_url.short_url }}</a>
                                <br/>
                                → {{ short_url.long_url }}
                                <br/>
                                {{ short_url.description }}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-three-quarters">
            <div id="chart"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <!-- Load c3.css -->
    <link href="/_assets/c3.css" rel="stylesheet">

    <!-- Load d3.js and c3.js -->
    <script src="/_assets/d3.min.js" charset="utf-8"></script>
    <script src="/_assets/c3.min.js"></script>
    <script>
        const requestURL = '/api/v1/data/{{ short_url_path }}';
        axios.get(requestURL)
            .then(function (response) {
                console.log(response.data.results);
            })
            .catch(function (error) {
                console.log(error);
            });
    </script>

{% endblock %}