{% extends "base.html" %}
{% block header %}
    <script src="https://unpkg.com/axios@0.16.2/dist/axios.min.js"></script>
{% endblock %}
{% block nav %}
    {% include "nav_for_login.html" %}
{% endblock %}
{% block content %}
    <div class="columns" id="app">
        <div class="content">
            <h1>{{ short_url.title }}</h1>
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ short_url.image }}" alt="Image"></a>
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="{{ short_url.long_url }}">{{ short_url.long_url }}</a>
                                <br/>
                                → {{ short_url.short_url }}
                                <br/>
                                {{ short_url.description }}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-three-quarters" id="short_urls">
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    </script>
{% endblock %}