{% extends "base.html" %}
{% block header %}
    <script src="https://unpkg.com/axios@0.16.2/dist/axios.min.js"></script>
{% endblock %}
{% block nav %}
    {% include "nav_for_login.html" %}
{% endblock %}
{% block content %}
    <div class="columns" id="app">
        <div class="content">
            <h1>{{ short_url.title }}</h1>
            <p>{{ short_url.long_url }}</p>
            <p>↓</p>
            <p>{{ short_url.short_url }}</p>
            <p>{{ short_url.description }}</p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-three-quarters" id="short_urls">
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    </script>
{% endblock %}