{% extends "base.html" %}
{% block nav %}
    {% include "nav_for_login.html" %}
{% endblock %}
{% block content %}
    <h1>shorten</h1>
    <div class="columns">
        <div class="column is-two-thirds">
            <div class="field">
                <label class="label">Url to shorten</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Long URL"></textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}