{% extends "base.html" %}
{% block header %}
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-resource@1.3.4"></script>
{% endblock %}
{% block nav %}
    {% include "nav_for_login.html" %}
{% endblock %}
{% block content %}
    <h1>shorten</h1>
    <div class="columns" id="app">
        <div class="column is-two-thirds">
            <div class="select">
                <select v-model="domain">
                    {% for d in domain_settings %}
                        <option value="{{ d }}" {% if loop.index0 == 0 %}selected{% endif %}>{{ d }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label class="label">Url to shorten</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Long URL" v-model="long_url" @keyup.22="shorten"></textarea>
                </div>
            </div>
            <div v-if="short_url !== ''">
                <h2>result</h2>
                <div class="tags has-addons">
                    <span class="tag">{{ "{{" }}short_url{{ "}}" }}</span>
                    <span class="tag is-primary">copy</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                long_url: '',
                domain: '{{ domain_settings[0] }}',
                short_url: ''
            },
            http:{
                emulateJSON: true,
                emulateHTTP: true
            },
            methods: {
                shorten: function (event) {
                    this.$http.emulateJSON = true;
                    var requestData = {'url': this.long_url, 'domain': this.domain};
                    this.$http.post('/func/shorten', requestData).then(
                        response => {
                            var result = response.body;
                            this.short_url = result.short_url;
                        }, response => {
                            var result = response.body;
                            this.short_url = result.errors;
                        }
                    );
                }
            }
        });

    </script>
{% endblock %}