{% extends "base.html" %}
{% block nav %}
    {% include "nav_for_login.html" %}
{% endblock %}
{% block content %}
    <div class="columns">
        <div class="is-half column">
            <h2 class="title">Send invitation</h2>
            <p>To add user, send email invitation. Email should be associated with Google account</p>
            <form method="post">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="foo@example.com" name="email">
                    </div>
                    {% if form.email.errors %}
                        {% for e in form.email.errors %}
                            <p class="help is-danger">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="help is-primary">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if errors %}
                        {% for error in errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="columns">
        <div class="is-half column">
            <h2 class="title">{{ team_name }} Team Users</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>User Email</th>
                    <th>Role</th>
                    <th>Created</th>
                </tr>
                </thead>
                <tbody>
                {% for user in team_users %}
                    <tr>
                        <td>{{ user.user_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                        {% if current_user.role in ('primary_owner', 'admin') %}
                            <div class="control">
                                <div class="select">
                                    <form method="post" action="/page/role">
                                    <input type="hidden" value="{{ user.key.id() }}" name="user_id">
                                    <select {% if user.role == 'primary_owner' %}disabled="disabled"{% endif %} name="role" onchange="this.form.submit()">
                                        <option value="{{ user.role }}">{{ user.role }}</option>
                                        {% for r in ['admin', 'normal'] %}
                                            {% if r != user.role %}
                                            <option value="{{ r }}">{{ r }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    </form>
                                </div>
                            </div>
                        {% else %}
                            {{ user.role }}
                        {% endif %}
                        </td>
                        <td>
                            {{ user.created_at }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="columns">
        <div class="is-half column">
            <h2 class="title">API Token</h2>
            <form method="post" action="{{ url_for('generate_token') }}">
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary">Generate API Token</button>
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>Token</th>
                    <th>Created by</th>
                    <th>Created</th>
                </tr>
                </thead>
                <tbody>
                {% for token in api_tokens %}
                    <tr>
                        <td>{{ token['token'] }}</td>
                        <td>{{ token['created_by'] }}</td>
                        <td>
                            {{ token['created_at'] }}
                        </td>
                        <td>
                            <form method="delete" action="{{ url_for('delete_token', token_id=token['token']) }}">
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-danger">Delete</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}